<p id="notice"><%= notice %></p>

<h1>Listing Documents for Members</h1>
<%= link_to 'New Member', documents_path %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.category %></td>
        <td><%= member.employee_name%></td>
        <td><%= member.employee_address%></td>
        <td><%= member.expense_description%></td>
        <td><%= member.pre_tax_amount%></td>
        <td><%= member.tax_name%></td>
        <td><%= member.tax_amount%></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', documents_path %>
